<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume Screening Tool</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}"> <!-- Correct Flask way -->
</head>
<body>
    <header>
        <h1>Resume Screening Tool</h1>
    </header>
    <div id="container">
        <div id="first">
            <button id = "btn1">Upload Resume</button>
        </div>
        <script src="{{ url_for('static', filename='main.js') }}"></script> <!-- Correct Flask way -->
    </body>
</html>
